{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section-content padding-y bg">
	<div class="container">
		<!-- ============================ COMPONENT 1 ================================= -->
		<div class="row">
			<h4 class="text-center m-auto mb-6">
				Xem lại đơn đặt hàng của bạn và thanh toán
			</h4>
			<aside class="col-lg-8">
				<div class="card">
                    <h5 class="card-header">Thông tin đơn hàng</h5>
                    <div class="card-body">
                        <p class="card-text mb-0">{{ order.full_name }}</p>
                        <p class="card-text mb-0">{{ order.full_address }}</p>
                        <p class="card-text mb-0">{{ order.ward }}, {{ order.district }}, {{ order.province }}</p>
                        <p class="card-text mb-0">{{ order.email }}</p>
                        <p class="card-text mb-0">{{ order.phone }}</p>
                        {% if order.order_note %}
                            <b>Ghi chú: </b> {{ order.order_note }}
                        {% endif %}
                    </div>
				</div>
				<div class="card">
                    <h5 class="card-header">Phương thức thanh toán</h5>
                    <div class="card-body">
                        <p class="card-text">
                            Nhận tiền mặt sau khi nhận hàng
                        </p>
                    </div>
				</div>
				<div class="card">
                    <h5 class="card-header">Thông tin sản phẩm</h5>
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col" width="120">Số lượng</th>
                                    <th scope="col" width="120">Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{ cart_item.product.images.url }}"
                                                    class="img-sm"></div>
                                            <figcaption class="info">
                                                <a href="{{ cart_item.product.get_url }}" class="title text-dark">
                                                    {{ cart_item.product.product_name }}</a>
                                                <p class="text-muted small">
                                                    {% if cart_item.variations.all %}
                                                    {% for item in cart_item.variations.all %}
                                                    {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                                    {% endfor %}
                                                    {% endif %}
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <label for="">{{cart_item.quantity}}</label>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <var class="price">{{ cart_item.sub_total }}đ</var>
                                            <small class="text-muted">{{ cart_item.product.price }}đ mỗi món </small>
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
				</div>
			</aside>
			<!-- col.// -->
			<aside class="col-lg-4">
				<div class="card">
					<div class="card-body">
						<dl class="dlist-align">
							<dt>Tổng giá:</dt>
							<dd class="text-right">{{ total }}đ</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Thuế:</dt>
							<dd class="text-right">{{ tax }}đ</dd>
						</dl>
						<dl class="dlist-align">
							<dt>Tổng cộng:</dt>
							<dd class="text-right text-dark b">
								<strong>{{ grand_total }}đ</strong>
							</dd>
						</dl>
						<hr />
						
						<button class="btn btn-primary btn-block" onclick="createOrder()">Thanh toán</button>
						<a href="{% url 'store' %}" class="btn btn-light btn-block">Tiếp tục mua sắm</a>
					</div>
					<!-- card-body.// -->
				</div>
				<!-- card.// -->
			</aside>
			<!-- col.// -->
		</div>
		<!-- row.// -->
		<!-- ============================ COMPONENT 1 END .// ================================= -->
	</div>
	<!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<script>
	function getCookie(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}

	var amount = parseFloat("{{ grand_total }}");
	var url = "{% url 'payments' %}";
	var csrfToken = getCookie('csrftoken');
	var orderID = "{{ order.order_number }}";
	var paymentMethod = 'Cash';
	var redirectUrl = "{% url 'order_complete' %}"

	function uuidv4() {
		return ([1e7]+-1e3+-4e3+-8e3+-1e11).replace(/[018]/g, c =>
			(c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
		);
	}

	const createOrder = () => $.ajax({
		type: 'POST',
		url: url,
		data: {
			'csrfmiddlewaretoken': "{{ csrf_token }}",
			'orderID': orderID,
			'payment_method': paymentMethod,
			'status': "SUCCESS",
			'transID': uuidv4()
		},
		success: function(response) {
			data = response.data;
			window.location.href = redirectUrl + '?order_number=' + data["order_number"] + '&payment_id=' + data["transID"];
		},
		error: function(response) {
			error = response.error;
			alert('Transaction completed, but 1 error occurred: ' + error);
		}
	});
</script>
{% endblock %}